


@media only screen and (max-width: 600px){
    .row-componen{
        display: flex;
        flex-direction: column;
    }
    .ras{
        text-align: center;

    }
    .row-sf{
        text-align: center;
    }
    .test-svg{
        width: 200px !important;
        height: 200px !important;
    }
}
.test-svg{
    width: 50px !important;
    height: 50px !important;
}
